@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@100;200;300;400;500;600;700&family=VT323&display=swap');

body, #root, .App{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #190D35;
    font-family: Poppins;
}

body *{
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#sectionAbsolute{
    width: 100%;
    height: 100%;
    display: grid;
}

header{
    width: 100%;
    height: 7vw;
    display: flex;
    border-bottom: 1px solid #ffffff0c;
}
header span:nth-of-type(1){
    width: 30vw;
    height: 30vw;
    background-color: #5e36bbe1;
    display: block;
    margin: -5vw;
    position: absolute;
    border-radius: 100%;
    filter: blur(10vw);
}
header i{
    width: 8vw;
    height: 100%;
    background-image: url(https://d1x7zurbps6occ.cloudfront.net/logo/logo-brand-pokemon.png);
    background-size: contain;
    filter: invert(1);
    margin: auto;
    margin-left: 3vw;
}
header ul{
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: auto;
    display: flex;
    grid-gap: 4vw;
    list-style: none;
}
header ul li{
    font-size: 1.2vw;
    cursor: pointer;
}
header button{
    width: 4vw;
    height: 4vw;
    background-image: url(https://img.icons8.com/ios-glyphs/30/000000/search--v1.png);
    background-size: 50%;
    margin: auto;
    margin-right: 2vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    filter: invert(1);
}




.asideInitial{
    width: 100%;
    display: flex;
    z-index: 5;
    position: relative;
}
.asideInitial div:nth-of-type(1){
    width: 45%;
    margin-top: 8vw;
    margin-left: 4vw;
    position: absolute;
}
.asideInitial div:nth-of-type(1) h2{
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 0;
    margin-bottom: -1vw;
}
.asideInitial div:nth-of-type(1) h1{
    margin: 0;
    font-size: 8vw;
    letter-spacing: 1px;
    font-weight: 600;
}
.asideInitial div:nth-of-type(1) p{
    margin: 0;
    font-size: 1.2vw;
    color: #ffffff96;
}
.asideInitial div:nth-of-type(2){
    width: 60%;
    height: 35vw;
    background-color: #110925;
    border-top-left-radius: 18vw;
    border-bottom-left-radius: 18vw;
    margin: auto;
    margin-top: 3vw;
    margin-right: 0;
    display: flex;
}
.asideInitial div:nth-of-type(2) img{
    width: 70%;
    margin: auto;
    margin-top: -2vw;
}




#sectionAbsolute aside:nth-of-type(2){
    width: 100%;
    height: fit-content;
    margin-top: 5vw;
    padding-bottom: 5vw;
}
#sectionAbsolute aside:nth-of-type(2) h2{
    margin: 0;
    font-size: 1.5vw;
    font-weight: 500;
    margin-left: 4vw;
}

.asideExibitionPokemons{
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 7vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 6vw;
}

.articlePokemon{
    width: 20vw;
    height: 22vw;
    background-color: #ffffff13;
    border-radius: 3vw;
}
.articlePokemon img{
    height: 50%;
    margin: auto;
    display: block;
    margin-top: -5vw;
}
.articlePokemon h3{
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 2vw;
    font-weight: 1.2vw;
}
.articlePokemon .divInfoBasic{
    width: fit-content;
    margin: auto;
    display: flex;
    grid-gap: 1vw;
}
.articlePokemon .divInfoBasic span{
    width: 2vw;
    height: 2vw;
    display: block;
    border-radius: 100%;
    margin: auto;
    background-size: 60%;
}
.spanExb{
    width: 85%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto 60%;
    font-size: 1vw;
    margin: auto;
    margin-bottom: .2vw;
}
.spanExb .spanBarer{
    width: 100%;
    height: .7vw;
    border-radius: 1vw;
    margin: auto;
    margin-right: 0;
    display: flex;
    background-color: #ffffff15;
    overflow: hidden;
}
.spanBarer span{
    background-color: #08df5e;
    display: flex;
    border-radius: 1vw;
}





.bug{
    background-color: #1C4B27;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/bug--v1.png);
}
.dark{
    background-color: #121212;
    background-image: url(https://img.icons8.com/material/24/ffffff/do-not-disturb-2.png);
}
.dragon{
    background-color: #448A95;
    background-image: url(https://img.icons8.com/material-sharp/24/ffffff/year-of-dragon.png);
}
.electric{
    background-color: #E2E32B;
    background-image: url(https://img.icons8.com/fluency-systems-filled/48/ffffff/lightning-bolt.png);
}
.fairy{
    background-color: #961A45;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/bug--v1.png);
}
.fighting{
    background-color: #994025;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/bug--v1.png);
}
.fire{
    background-color: #AB1F24;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/gas.png);
}
.flying{
    background-color: #4A677D;
    background-image: url(https://img.icons8.com/ios-filled/50/ffffff/wing.png);
}
.ghost{
    background-color: #33336B;
    background-image: url(https://img.icons8.com/material-sharp/24/ffffff/ghost.png);
}
.grass{
    background-color: #147B3D;
    background-image: url(https://img.icons8.com/material-sharp/24/ffffff/leaf.png);
}
.ground{
    background-color: #A8702D;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/rock.png);
}
.ice{
    background-color: #86D2F5;
    background-image: url(https://img.icons8.com/fluency-systems-filled/48/ffffff/snowflake.png);
}
.normal{
    background-color: #75525C;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/plasmid.png);
}
.poison{
    background-color: #5E2D89;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/poison.png);
}
.psychic{
    background-color: #A52A6C;
    background-image: url(https://img.icons8.com/windows/32/ffffff/sleepy-eyes.png);
}
.rock{
    background-color: #48190B;
    background-image: url(https://img.icons8.com/small/16/ffffff/rock.png);
}
.steel{
    background-color: #60756E;
    background-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/rock.png);
}
.water{
    background-color: #1552E1;
    background-image: url(https://img.icons8.com/fluency-systems-filled/48/ffffff/drop-of-blood.png);
}